<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Lista de Asiento</h2>
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <th>Asiento</th>
                        <th>Monto</th>
                        <th>%</th>
                        <th>Resultado</th>
                        <th>Meses</th>
                        <th>Total</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{porciento}}</td>
                            <td>{{result}}</td>
                            <td>{{meses}}</td>
                            <td>{{totalMeses}}</td>
                            <td>{{fecha}}</td>
                        </tr>

                    {{else}}
                        <tr>
                            <p>No hay datos registridos!</p>
                        </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>